<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="testOfExtension"
         name="Test of Extension"
         point="pa.iscde.extensionTest.textext">
      <item
            class="pa.iscde.testextension.TestClass"
            icon="icon_gui.png"
            name="testExtension">
      </item>
   </extension>
   <extension
         name="asdas"
         point="pt.iscte.pidesco.guibuilder.widget">
   </extension>

</plugin>
