<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="testExtension"
         name="Testextension"
         point="pa.iscde.test.textext">
      <item
            class="pa.iscde.testextension.TestClass"
            icon="icon_gui.png"
            name="Test name">
      </item>
   </extension>

</plugin>
